<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block>
        <h2>회원가입</h2>
        <a href="/userMemberController/register" target="_blank">회원가입</a>

        <h2>로그인</h2>
        <form action="/userMemberController/login" method="post">
            <div>
                <label for="userMemId">아이디:</label>
                <input type="text" id="userMemId" name="userMemId" required>
            </div>
            <div>
                <label for="userMemPw">비밀번호:</label>
                <input type="password" id="userMemPw" name="userMemPw" required>
            </div>
            <button type="submit">로그인</button>
<!--            <div th:if="${not #lists.isEmpty(param.error)}" style="color: red;">-->
<!--                아이디 또는 비밀번호가 잘못되었습니다.-->
<!--            </div>-->
        </form>
    </th:block>
</body>
</html>